%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#stats", class: 'tab-button'} My Stats
  %li
    %a{"data-toggle" => "tab", href: "#teams", class: 'tab-button'} My Teams
  %li
    %a{"data-toggle" => "tab", href: "#exercises", class: 'tab-button'} My Exercises
  %li
    %a{"data-toggle" => "tab", href: "#competitions", class: 'tab-button'} My Competitions
  %li
    %a{"data-toggle" => "tab", href: "#challanges", class: 'tab-button'} My Challenges
  %li
    %a{"data-toggle" => "tab", href: "#settings", class: 'tab-button'} Settings