%h1
  Profile for #{@user.email}
%p Guns don't kill people pushups do.

%h4
  Exercises Logged
%table
  -@user.workouts.each do |workout|
    %tr
      %td
        %p
          Gained 
          =workout.xp
          XP
      %td
        %p
          Date
          =workout.date


