%footer
  .container
    %p
      Senior Project By 
      %a{:href => "https://github.com/CerebralStorm", :rel => "external"}Cody Tanner
      |
      %a{:href => "https://github.com/madavik", :rel => "external"}Joey Gibson
      |
      %a{:href => "http://www.updateme.com", :rel => "external"}John Hanks
      |
      %a{:href => "https://github.com/charmainekeck", :rel => "external"}Charmaine Keck
      for the
      %a{:href => "http://www.utah.edu", :rel => "external"}University of Utah
      