%ul.static-navigation
  %li{"data-slide" => "1"} Home
  %li{"data-slide" => "2"} SignUp
  %li{"data-slide" => "3"} SignIn
  %li{"data-slide" => "4"} Suggestions
  %li{"data-slide" => "5"} Contact
#slide1.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  %span.slideno Home
  .container
    .row
      .col-md-2
      .col-md-8 
        .jumbotron
          %h1 Workout Wars (BETA)
          %p 
            Welcome to Workout Wars. Why are you here? To get ripped and show everyone that you can do more than play videogames in your friends basement. You can play workout games on the internet!     
      .col-md-2    
  %a.button{"data-slide" => "2", :title => ""}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  %br
  %br
  .container
    .row
      .col-md-4
      .col-md-4 
        =render partial: 'static/signup' 
      .col-md-4    
  =# render partial: 'static/blue_images' 
  %span.slideno Sign Up
  %a.button{"data-slide" => "3", :title => ""}
#slide3.slide{"data-slide" => "3", "data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-md-4
      .col-md-4 
        =render partial: 'static/signin' 
      .col-md-4    
  %span.slideno Sign In
  %a.button{"data-slide" => "4", :title => ""}
#slide4.slide{"data-slide" => "4", "data-stellar-background-ratio" => "0.5s"}
  .container
    .row
      .col-md-2
      .col-md-8 
        .jumbotron
          %h1 Suggestions
          %p It's hard to improve on perfection, but you can go ahead and try. 
      .col-md-2  
  %span.slideno Suggestions
  %a.button{"data-slide" => "5", :title => ""}
#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  %span.slideno Contact