%div{id: "delete_exercise_#{exercise.id}"}
  %li  
    %span
      =exercise.total_xp
      XP
    %span
      =exercise.name
    %span
      =exercise.category
    %span
      = link_to "X", exercise_path(exercise), method: :delete, remote: true
